In [1]:
age = 20
if(age >= 20):
    print('성인입니다.')
else:
    print('성인이 아닙니다.')

성인입니다.

In [5]:
print(1==1 and 2==2) #true
print(1!=1 and 2==2) #false
print(1==1 and 2!=2) #false
print(1!=1 and 2!=2) #false
print(1==1 or 2==2) #true
print(1!=1 or 2==2) #true
print(1==1 or 2!=2) #true
print(1!=1 or 2!=2) #false
print(not 10 > 5) #false

True
False
False
False
True
True
True
False
False

In [111]:
name = input('이름을 입력하세요.\t\t')
a = int(input('\n국어 점수를 입력하세요.\t'))
b = int(input('영어 점수를 입력하세요.\t'))
c = int(input('수학 점수를 입력하세요.\t'))
average = (a+b+c)/3
total = a+b+c
print('\n합계 점수는 %d+%d+%d = %2.f입니다.' %(a,b,c,total))
print('\n평균 점수는 %d 점입니다\n' %average)
print('이름\t국어\t영어\t수학\t총점\t평균\n--------------------------------------------')
print('%s\t%d\t%d\t%d\t%d\t%d'%(name,a,b,c,total,average))
print('\n%s님의 총점:%d 평균점수:%d' %(name, total, average))

이름을 입력하세요.		 최하민

국어 점수를 입력하세요.	 50
영어 점수를 입력하세요.	 60
수학 점수를 입력하세요.	 70

합계 점수는 50+60+70 = 180입니다.

평균 점수는 60 점입니다

이름	국어	영어	수학	총점	평균
--------------------------------------------
최하민	50	60	70	180	60

최하민님의 총점:180 평균점수:60

In [138]:
data = int(input('data를 입력하세요'))
score = int(input('score를 입력하세요'))
x = print(data < score)
x = print(data <= score)
x = print(data > score)
x = print(data >= score)
x = print(data == score)
x = print(data != score)
print(data >= 0 and score <= 100)
print(data <= 0 and score >= 100)
print(data >= 0 or score <= 100)
print(data <= 0 or score >= 100)
print(not score <= 100)

data를 입력하세요 50
score를 입력하세요 100

True
True
False
False
False
True
True
False
True
True
False