In [24]:
def my_family(*name) :
    for n in name :
        print(n)

In [89]:
fruits = ['사과', '배', '포도']
my_family('하나')
my_family('하나','둘')
my_family(['하나','둘', '셋'])
my_family({'하나','둘', '셋'})
my_family(fruits)

하나
하나
둘
['하나', '둘', '셋']
{'둘', '하나', '셋'}
['사과', '배', '포도']

In [47]:
def my_family2(**name) :
    #print(type(name))
    print(name['fname'])

In [48]:
my_family2(fname = 'hamin', lname = 'saebyoel')

hamin

In [65]:
def my_sum(*n) : #튜플안에 숫자를 원하는 갯수만큼 총 합계를 내는 함수 정의
    sum1 = 0
    for a in n :
        sum1 = sum1 + a
    print(sum1)

In [67]:
my_sum(1,2,3,4)

10

In [83]:
def my_country(state,country = 'Korea') : # 매개변수 값을 지정해주고 함수 호출할 때 빈 값을 넣으면 지정해준 매개변수 값이 출력된다. 기본값지정 시 맨 뒤에 지정
    print(state,country)

In [85]:
my_country('Brazil')
my_country('Seoul', 'anseong')
#my_country() - error

Brazil Korea
Seoul anseong

In [160]:
def my_input_sum(n) :
    sum1 = 0
    i = 0
    while i < len(n)  :     
        sum1 = sum1 + n[i]
        i = i + 1
    return sum1

In [163]:
def my_input_num(n) :
    list_num = []
    i = 0
    while i < n :
        ab = int(input('숫자를 입력하세요'))
        list_num.append(ab)
        i = i + 1
    return list_num

In [164]:
number1 = int(input('합 구할 숫자 개수를 입력하세요'))
y = my_input_num(number1)
x = my_input_sum(y)
print(x)

합 구할 숫자 개수를 입력하세요 3
숫자를 입력하세요 20
숫자를 입력하세요 50
숫자를 입력하세요 70

140